<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8jccMgHX9tK1fl79FnWqPFipL_TD2K-E</string>
	<key>GCM_SENDER_ID</key>
	<string>262845705088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftlec.steamproject</string>
	<key>PROJECT_ID</key>
	<string>steam-swift-main-project</string>
	<key>STORAGE_BUCKET</key>
	<string>steam-swift-main-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262845705088:ios:0a361e6e63c38bb9c96f65</string>
</dict>
</plist>